/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

#customer-files and settings
/public/custom

#eclipse
/.buildpath
/.project
/.settings

#Mac
*.DS_Store
