.fa-btn {
    margin-right: 6px;
}
pre.form-control{
    overflow: hidden;
    font: inherit;
}
.action-cell{
	white-space: nowrap;
}

.background-white{
	background: white;
}

.container{
	padding-top: 1rem;
}

.table {
	border-spacing: 0;
}

.fittext-container {
	display: block;
	top: 50%;
	transform: translate(0%,-50%);
	width: 100%;
	position: absolute;
	text-align: center;
	vertical-align: middle;
	marin-right: -15px;
	margin-left: -15px;
}

.fittext{
	padding-right: 15px;
	padding-left: 15px;
	margin: 0;
	color: red;
	font-weight: bold;
	white-space: nowrap;
    transform: rotate( 10deg );
}